{{#name}}
## {{name}}
{{/name}}
{{#items}}
### {{name}}
{{#default_impl_abstract}}
Default implementation
{{/default_impl_abstract}}
{{#from_protocol_extension}}
Extension method
{{/from_protocol_extension}}
{{#abstract}}
{{{abstract}}}
{{#url}}
[See more]({{{path_to_root}}}{{{url}}})
{{/url}}
{{/abstract}}
{{#default_impl_abstract}}
#### Default Implementation
{{{default_impl_abstract}}}
{{/default_impl_abstract}}
{{#declaration}}
#### Declaration
{{{declaration}}}
{{#other_language_declaration}}
{{{other_language_declaration}}}
{{/other_language_declaration}}
{{/declaration}}
{{#parameters.count}}
#### Parameters
{{#parameters}}
{{> parameter}}
{{/parameters}}
{{/parameters.count}}
{{#return}}
#### Return Value
{{{return}}}
{{/return}}
{{#github_token_url}}
[Show on GitHub]({{{github_token_url}}})
</div>
{{/github_token_url}}
{{/items}}